<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhc.web.dao.OrgOperationUserMapper">

    <!--通过用户名查询用户-->
    <select id="selectByUser" parameterType="com.lhc.web.domain.OrgOperationUser"
            resultType="com.lhc.web.domain.OrgOperationUser">
    select oou_id, oou_carrier_id, oou_dept_id, oou_code, oou_name, oou_sex, oou_password,
    oou_superior, oou_identity_card, oou_birth, oou_phone, oou_mail, oou_education, oou_entry_date,
    oou_departure_date, oou_type, oou_status, oou_create_by, oou_create_time
    from org_operation_user
    where oou_name = #{oou_name}
  </select>

    <!--通过用户id查询角色-->
  <select id="userPermissions" parameterType="string"
            resultType="string">
    select a.or_name
    from org_role a
    inner join org_user_role b on b.our_role_id = a.or_id
    where b.our_user_id = #{userId}
  </select>
</mapper>